body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 10vh;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.round-button {
    width: 25vw;
    aspect-ratio: 1;
    max-width: 150px;
    max-height: 150px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-button i {
    font-size: 5em;
}

.recording {
    color: darkred;
}